<div class="jumbotron text-center">
  <section class="events-ins">
    <div class="container-fluid">
      <h2 class="text-center titles">IMÁGENES INSTITUCIONALES</h2>
      <br> <br>
      <div class="row">
        <!--======================================== Articulo 1 ========================================-->

        <div class="row">
          <article class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("familia5.jpg")%>
              <div class="caption">
                <h3 class="text-center">Compartiendo con las familias</h3>
                <p class="text-justify"></p>
                <p class="text-center">

                </p>
              </div>
            </div>
          </article>
          <!--======================================== Articulo 2 ========================================-->
          <article class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("familia.jpg")%>
              <div class="caption">
                <h3 class="text-center">Guiando a los padres</h3>
                <p class="text-justify"></p>
                <p class="text-center">

                </p>
              </div>
            </div>
          </article>
          <!--======================================== Articulo 3 ========================================-->
          <article class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("familia3.jpg")%>
              <div class="caption">
                <h3 class="text-center">Todos unidos</h3>
                <p class="text-justify"></p>
                <p class="text-center">

                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-general"></div>
</div>
<!=============================================    Segunda parte   =================================-->
<div class="jumbotron text-center">
  <section class="events-ins">
    <div class="container-fluid">
      <h2 class="text-center titles">Día del niño</h2>
      <br>
      <div class="row">
        <article class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("niño5.jpg")%>
            <div class="caption">
              <h3 class="text-center">Recreación</h3>
              <p class="text-justify"></p>
              <p class="text-center">

              </p>
            </div>
          </div>
        </article>
        <!--======================================== Articulo 2 ========================================-->
        <article class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("dia_del_estudiante.png")%>
            <div class="caption">
              <h3 class="text-center">Diversión en grande</h3>
              <p class="text-justify"></p>
              <p class="text-center">

              </p>
            </div>
          </div>
        </article>
        <!--======================================== Articulo 3 ========================================-->
        <article class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag("niño11.jpg")%>
            <div class="caption">
              <h3 class="text-center">Entretenimiento y deporte</h3>
              <p class="text-justify"></p>
              <p class="text-center">

              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <div class="divider-general"></div>
</div>

<!=============================================    Tercera parte   =================================-->


<div class="row">
  <article class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("niño7.jpg")%>
      <div class="caption">
        <h3 class="text-center">Los jovenes también se divierten</h3>
        <p class="text-justify"></p>
        <p class="text-center">

        </p>
      </div>
    </div>
  </article>
  <!--======================================== Articulo 2 ========================================-->
  <article class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("niño8.jpg")%>
      <div class="caption">
        <h3 class="text-center">Integración</h3>
        <p class="text-justify"></p>
        <p class="text-center">

        </p>
      </div>
    </div>
  </article>
  <!--======================================== Articulo 3 ========================================-->
  <article class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("niño11.jpg")%>
      <div class="caption">
        <h3 class="text-center">El deporte es salud</h3>
        <p class="text-justify"></p>
        <p class="text-center">

        </p>
      </div>
    </div>
  </article>
</div>
</div>
</section>
<div class="divider-general"></div>
</div>